In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

print("ok")

ok

In [2]:
import os

In [35]:
csv_file_path = os.getenv('HOME') + '/data_preprocess/data/vgsales.csv'

In [36]:
csv_file_path

'/aiffel/data_preprocess/data/vgsales.csv'

In [37]:
vgsales = pd.read_csv(csv_file_path)
vgsales.head()

FileNotFoundError: [Errno 2] No such file or directory: '/aiffel/data_preprocess/data/vgsales.csv'

In [27]:
import os

csv_file_path = os.getenv('HOME')+'/aiffel/data_preprocess/data/trade.csv'
trade = pd.read_csv(csv_file_path) 
trade.head()

          기간 국가명      수출건수        수출금액      수입건수       수입금액       무역수지  기타사항
0  2015년 01월  중국  116932.0  12083947.0  334522.0  8143271.0  3940676.0   NaN
1  2015년 01월  미국   65888.0   5561545.0  509564.0  3625062.0  1936484.0   NaN
2  2015년 01월  일본   54017.0   2251307.0   82480.0  3827247.0 -1575940.0   NaN
3  2015년 02월  중국   86228.0   9927642.0  209100.0  6980874.0  2946768.0   NaN
4  2015년 02월  미국   60225.0   5021264.0  428678.0  2998216.0  2023048.0   NaN

In [28]:
import os

csv_file_path = os.getenv('HOME')+'/aiffel/data_preprocess/data/vgsales.csv'
vgsales = pd.read_csv(csv_file_path) 
vgsales.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [29]:
csv_file_path

'/aiffel/aiffel/data_preprocess/data/vgsales.csv'

In [39]:
#결측치

print('전체 데이터 건수:', len(vgsales))

전체 데이터 건수: 16598

In [40]:
print('컬럼별 결측치 개수')
len(vgsales) - vgsales.count()

컬럼별 결측치 개수

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [42]:
vgsales.count()

Rank            16598
Name            16598
Platform        16598
Year            16327
Genre           16598
Publisher       16540
NA_Sales        16598
EU_Sales        16598
JP_Sales        16598
Other_Sales     16598
Global_Sales    16598
dtype: int64

In [43]:
#행에 하나라도 결측치가 있으면 True로 (전부결측일때 True하려면 .all(axis=1))
vgsales.isnull().any(axis=1)

0        False
1        False
2        False
3        False
4        False
         ...
16593    False
16594    False
16595    False
16596    False
16597    False
Length: 16598, dtype: bool

In [44]:
#결측치가 들어있는 행만 가져오기 
 #-- DataFrame[]괄호안에 넣으면됨

vgsales[vgsales.isnull().any(axis=1)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
179,180,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23
377,378,FIFA Soccer 2004,PS2,NaN,Sports,Electronic Arts,0.59,2.36,0.04,0.51,3.49
431,432,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,1.86,1.02,0.00,0.29,3.17
470,471,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
607,608,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,0.00,0.03,2.53
...,...,...,...,...,...,...,...,...,...,...,...
16427,16430,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01
16493,16496,The Smurfs,3DS,NaN,Action,Unknown,0.00,0.01,0.00,0.00,0.01
16494,16497,Legends of Oz: Dorothy's Return,3DS,2014.0,Puzzle,NaN,0.00,0.01,0.00,0.00,0.01
16543,16546,Driving Simulator 2011,PC,2011.0,Racing,NaN,0.00,0.01,0.00,0.00,0.01
16553,16556,Bound By Flame,X360,2014.0,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01

In [45]:
# 결측치가 year와 publisher 만 있으므로 제거는 생략
# DataFrame.drop('col_name', axis=1) 로 칼럼 전부 삭제 가능
# DataFrame.dropna(how='all', subset=['칼럼이름','칼럼이름',...], inplace=True)
# how 옵션으로 all 전부결측치인 행(칼럼이 아니라?)을 삭제하겠다>> 
# >> .dropna(axis = 0, how'all',..)모두 결측행 삭제 .dropna(axis = 1 ,) 모두결측열
# >> axis값을 지정해 주어서 행또는 열삭제 가능 축에 따라 결정됨
# inplace 옵션으로 해당 DataFrame에 바로적용
# .loc[,] 으로 해당데이터 지정하여 다시 할당 변경할수 있음

In [46]:
#중복된 데이터

vgsales.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
16593    False
16594    False
16595    False
16596    False
16597    False
Length: 16598, dtype: bool

In [47]:
vgsales[vgsales.duplicated()]
#중복된 데이터 없음

Empty DataFrame
Columns: [Rank, Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales]
Index: []

In [48]:
# 이상치(outlier) 확인
# z-score 이용 
def outlier(df, col, z):
    return df[abs(df[col] - np.mean(df[col]))/np.std(df[col])>z].index
print("OK")

OK

In [49]:
#북미에서만 특출하게 많이 팔린 이상치가 있는지 점검 z값 1.5로 설정

outlier(vgsales, 'NA_Sales', 1.5)

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1068, 1074, 1078, 1085, 1106, 1115, 1123, 1146, 1153, 1205],
           dtype='int64', length=521)

In [50]:
#위치메소드로 나타내줘야됨
vgsales.loc[outlier(vgsales, 'NA_Sales', 1.5)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
1115,1117,Dig Dug,2600,1982.0,Puzzle,Atari,1.52,0.10,0.00,0.02,1.64
1123,1125,ESPN NFL 2K5,XB,2004.0,Sports,Sega,1.54,0.02,0.00,0.07,1.63
1146,1148,SpongeBob's Atlantis SquarePantis,DS,2007.0,Action,THQ,1.50,0.00,0.00,0.11,1.61
1153,1155,River Raid,2600,1981.0,Shooter,Activision,1.49,0.09,0.00,0.02,1.60
1205,1207,Command & Conquer: Tiberian Sun,PC,1999.0,Strategy,Westwood Studios,1.55,0.00,0.00,0.00,1.55

In [51]:
#521 개나 검색됨 z값을 더 크게 잡아봄  (521/16598) z = 2
vgsales.loc[outlier(vgsales, 'NA_Sales', 2)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
749,751,Madden NFL 25,X360,2013.0,Sports,Electronic Arts,1.97,0.07,0.00,0.13,2.18
766,768,Demon Attack,2600,1981.0,Shooter,Imagic,1.99,0.12,0.00,0.02,2.13
795,797,Wipeout: The Game,Wii,2009.0,Misc,Mindscape,1.97,0.00,0.00,0.12,2.09
805,807,Sim Theme Park,PC,1998.0,Strategy,Electronic Arts,2.04,0.04,0.00,0.00,2.08
878,880,Who wants to be a millionaire,PC,1999.0,Misc,Disney Interactive Studios,1.94,0.00,0.00,0.00,1.94

In [52]:
#361 개나 검색됨 z값을 더 크게 잡아봄  (361/16598) z = 3
vgsales.loc[outlier(vgsales, 'NA_Sales', 3)]

#174개

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
278,279,Frogger,PS,1997.0,Action,Hasbro Interactive,3.79,0.27,0.00,0.11,4.16
279,280,Madden NFL 2003,PS2,2002.0,Sports,Electronic Arts,3.36,0.21,0.01,0.56,4.14
281,282,Half-Life,PC,1997.0,Shooter,Vivendi Games,4.03,0.00,0.09,0.00,4.12
296,297,Star Fox 64,N64,1997.0,Shooter,Nintendo,2.78,0.58,0.64,0.04,4.03
373,374,Assassin's Creed: Brotherhood,X360,2010.0,Action,Ubisoft,2.84,0.39,0.03,0.24,3.50

In [53]:
# outlier 함수의 부등호 값을 반대로 하여 이상치가 아닌값을 나타낼수있음 
def not_outlier(df, col, z):
    return df[abs(df[col] - np.mean(df[col]))/np.std(df[col])<=z].index
print("OK")

OK

In [54]:
vgsales.loc[not_outlier(vgsales, 'NA_Sales', 1.5)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
77,78,FIFA 16,PS4,2015.0,Sports,Electronic Arts,1.11,6.06,0.06,1.26,8.49
82,83,FIFA Soccer 13,PS3,2012.0,Action,Electronic Arts,1.06,5.05,0.13,2.01,8.24
83,84,The Sims 3,PC,2009.0,Simulation,Electronic Arts,0.98,6.42,0.00,0.71,8.11
112,113,FIFA 14,PS3,2013.0,Sports,Electronic Arts,0.78,4.32,0.07,1.73,6.90
121,122,FIFA 12,PS3,2011.0,Sports,Electronic Arts,0.84,4.32,0.11,1.42,6.69
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01